<div class="top-bar">
  <div class="user_name">
    <%= link_to current_user.name, edit_user_path(current_user.id) %>
  </div>
  <div class="create_chat">
    <a href="">チャットを作成する</a>
  </div>
</div>
<div class="room-bar">
  <div class="rooms">
    <div class="room_name">
      <a href="">techroom1</a>
    </div>
    <div class="room_name">
      <a href="">techroom2</a>
    </div>
  </div>
</div>