.wrapper {
  display: flex;
}

/* side_bar */
.side-bar {
  width: 300px;
  height: 100vh;
  background-color: #253141;
}

.top-bar {
  height: 100px;
  background-color: #253141;
  padding: 0 20px;
}

.room-bar {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
}


/* main_chat */
.main-chat {
  width: calc(100vw - 300px);
  height: 100vh;
  background-color: #ffffff;
}

.main-top {
  height: 100px;
  background-color: #ffffff;
  padding: 0 40px;
}

.main-middle {
  height: calc(100vh - 190px);
  background-color: #fafafa;
  padding: 46px 40px 0;
}

.main-bottom {
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px;
}